attrs==23.2.0
beautifulsoup4==4.12.3
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
exceptiongroup==1.2.1
idna==3.7
lxml==5.2.2
mypy==1.10.0
mypy-extensions==1.0.0
platformdirs==4.2.2
requests==2.31.0
requests-cache==1.2.0
six==1.16.0
soupsieve==2.5
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.11.0
url-normalize==1.4.3
urllib3==2.2.1
